@import "../../common/constants";

.MatchingPage {
  overflow: hidden;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: #212121;
  color: white;
  padding: 64px;

  .matching-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .header {
      align-self: flex-end;
      display: flex;

      .cancel {
        opacity: .4;
      }
    }

    .center {
      align-self: center;
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;

      .connecting {
        line-height: 60px;
        font-size: 60px;
        margin-bottom: 44px;
      }

      .connected {
        line-height: 60px;
        font-size: 40px;
        margin-bottom: 44px;
      }

      .avatar-container {
        margin-bottom: 56px;
        display: flex;

        .Avatar {
          position: relative;
          $size: 160px;
          width: $size;
          height: $size;
          border-radius: $size;
          border: 5px solid $color-primary;
          background-size: cover;
          background-position: center;
          overflow: hidden;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          z-index: 0;
          transition: opacity .5s;

          .role {
            font-weight: bold;
          }

          .name {
            font-size: $font-size-large;
          }

          &:before {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: -1;
            content: '';
            background-color: rgba(0, 0, 0, .5);
          }

          &:empty {
            opacity: .1;

            &:before {
              background: none;
              display: flex;
              align-items: center;
              justify-content: center;
              content: '?';
              font-size: 80px;
            }
          }

          & + .Avatar {
            animation: matching 1s 5 ease-in-out alternate forwards;

            @keyframes matching {
              from {
                margin-left: 64px;
              }

              to {
                margin-left: 32px;
              }
            }
          }
        }
      }

      .description {
        font-size: $font-size-medium;
        margin-bottom: 20px;
      }

      .progress-bar {
        width: 200px;
        height: 5px;
        display: flex;
        align-items: stretch;
        background-color: #EDEDED;

        .active {
          background-color: $color-primary;
          animation: increase 10s forwards;

          @keyframes increase {
            from {
              width: 0;
            }

            to {
              width: 100%;
            }
          }
        }
      }
    }

    .footer {
      align-self: center;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      color: $color-light;
      font-size: $font-size-medium;

      .tip-title {
        font-weight: bold;
      }

      .tip {
        margin-bottom: 28px;
      }

      .footer-text {
        &:after {
          white-space: pre;
          content: ' | CodIn Front-end Developers';
          color: $color-dark;
        }
      }
    }
  }
}
