.InterviewSidebar {
  width: 300px;
  background-color: lightgrey;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  .video {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
  }

  .button {
    width: 150px;
    height: 50px;
  }
}
