@import "../../common/constants";

.InterviewSidebar {
  width: 300px;
  overflow: hidden;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color-darker;
  color: $color-lighter;

  .countdown {
    font-size: $font-size-largest;
    margin-bottom: 16px;
  }

  .problem-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: auto;

    .problem {
      font-size: $font-size-large;
    }
  }

  .video {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    margin-bottom: 16px;
  }

  .button {
    width: 150px;
    height: 50px;
  }
}
