.InterviewSidebarContainer {
  height: calc(100% - 220px);
  width: 300px;
  bottom: 0;
  left: 0;
  background-color: gray;
  overflow: hidden; 

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  .webcam {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: solid;
  }
  .button {
    width: 150px;
    height: 50px;
  }
}