$color-darkest: #000000;
$color-darker: #212121;
$color-dark: #333333;
$color-dark-shadow: #00000029;
$color-light: #999999;
$color-lighter: #EDEDED;
$color-lightest: #FFFFFF;

$color-primary: #66BB6A;
$color-secondary: #89EB99;
$color-critical: #D7322D;

$color-borderline: $color-lighter;

$font-size-small: 12px;
$font-size-medium: 14px;
$font-size-large: 18px;
$font-size-larger: 24px;
$font-size-largest: 36px;

$breakpoint-responsive: 720px;

@mixin card {
  background-color: $color-lightest;
  box-shadow: 0 3px 6px $color-dark-shadow;
  border: 1px solid #CCCCCC;
}
