@import "../../common/constants";

.InterviewContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: $color-dark;

  .controls {
    display: flex;
    align-items: stretch;
    height: 64px;
    border-left: 1px solid $color-darker;

    &.controls-mode {
      border-bottom: 1px solid $color-darker;
      padding: 8px 48px;
      justify-content: flex-end;

      .Button {
        font-size: $font-size-medium;
        background-color: $color-dark;
        padding: 0 20px;
        color: $color-light;

        &.active {
          background-color: $color-darker;
        }
      }

      .toggle {
        display: flex;
        border: 1px solid $color-darker;
        margin-right: 16px;

        .Button {
          border: none;
        }
      }

      .dropdown {
        border-color: $color-darker;

        .icon {
          margin-left: 8px;
        }
      }
    }

    &.controls-progress {
      .play {
        width: 64px;
      }

      .progress-bar {
        flex: 1;
        background-color: grey;
        display: flex;
        align-items: stretch;

        .progress {
          display: flex;
          justify-content: flex-end;
          align-items: stretch;
          background-color: $color-secondary;
        }
      }
    }
  }

  .editor-container {
    overflow: hidden;
    flex: 1;
    display: flex;
    align-items: stretch;

    .editor-wrapper {
      overflow: hidden;
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      border-left: 1px solid $color-darker;

      .editor {
        overflow: hidden;
        flex: 1;
        position: relative;

        &.whiteboard {
          .quill {
            display: flex;
            flex-direction: column;
            align-items: stretch;
            width: 100%;
            height: 100%;

            &, * {
              border-color: $color-darker !important;
            }

            .ql-toolbar {
              border: none;

              &, * {
                background-color: $color-dark !important;
                color: white !important;
                stroke: white !important;
              }
            }

            .ql-container {
              overflow: hidden;
              flex: 1;
              background-color: $color-dark;
              color: $color-lighter;
              font-size: $font-size-large;
              border: none;

              .ql-editor {
                width: 100%;
                height: 100%;
              }
            }
          }
        }

        &.ide {
          * {
            cursor: none !important;
          }
        }
      }

      .Drawer {
        $drawer-header-height: 48px;
        $drawer-height: 256px;
        position: relative;
        overflow: hidden;
        color: $color-light;
        box-shadow: 0 0 8px rgba(0, 0, 0, .4);
        height: $drawer-height;
        transition: height .1s;

        &.collapsed {
          height: $drawer-header-height;

          .drawer-body {
            display: none;
          }
        }

        .drawer-header {
          font-size: $font-size-large;
          padding: 0 20px;
          height: $drawer-header-height;
          display: flex;
          justify-content: space-between;
          align-items: center;
          cursor: pointer;
        }

        .drawer-body {
          height: $drawer-height - $drawer-header-height;
          display: flex;
          flex-direction: column;
          font-size: $font-size-large;
          color: $color-lighter;
          overflow-y: auto;
        }

        &.drawer-feedback {
          .feedback-container {
            padding: 20px;
            display: flex;
            flex-direction: column;

            .feedback {
              margin-bottom: 8px;
              white-space: pre-wrap;

              &:last-child {
                margin-bottom: 0;
              }

              .time {
                font-weight: bold;
                color: $color-primary;
              }

              .user {
                font-weight: bold;
              }
            }
          }
        }

        &.drawer-console {
          .console {
            padding: 20px;
            white-space: pre-wrap;
            font-family: monospace;

            .console-line {
              &.error {
                color: $color-critical;
              }
            }
          }
        }
      }

      .console-toolbar {
        position: relative;
        background-color: $color-darker;
        display: flex;
        padding: 12px 20px;
        align-items: center;
        justify-content: flex-end;

        input {
          flex: 1;
          margin-right: 20px;
        }

        .Button {
          font-size: $font-size-medium;
        }
      }

      .feedback-input {
        position: relative;
        background-color: $color-darker;
        color: $color-lighter;
        display: flex;
        align-items: stretch;

        input {
          padding: 12px 20px;
          flex: 1;
        }

        .Button {
          margin: 12px 20px 12px 0;
          font-size: $font-size-medium;
        }
      }
    }
  }
}
