@import "../../common/constants";

.InterviewContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  .controls {
    height: 36px;
    display: flex;
    align-items: stretch;

    .play {
      width: 80px;
    }

    .progress-bar {
      flex: 1;
      background-color: grey;
      display: flex;
      align-items: stretch;

      .progress {
        display: flex;
        justify-content: flex-end;
        align-items: stretch;
        background-color: green;

        .playhead {
          width: 16px;
          margin-right: -8px;
          background-color: lightgreen;
        }
      }
    }
  }

  .editor-container {
    overflow: hidden;
    flex: 1;
    display: flex;
    align-items: stretch;

    .whiteboard {
      overflow: hidden;
      flex: 1;

      .quill {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        width: 100%;
        height: 100%;

        &, * {
          border-color: $color-darker !important;
        }

        .ql-toolbar {
          &, * {
            background-color: $color-dark !important;
            color: white !important;
            stroke: white !important;
          }
        }

        .ql-container {
          overflow: hidden;
          flex: 1;
          background-color: $color-dark;
          color: $color-lighter;

          .ql-editor {
            width: 100%;
            height: 100%;
          }
        }
      }
    }

    .ide {
      overflow: hidden;
      flex: 1;
    }
  }
}
