.MainPage {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  opacity: 1;
  padding: 80px 0;

  .main-group {
    width: 100%;
    max-width: 1024px;
    display: flex;
    align-items: flex-start;
  }
}

