@import "../../common/constants";

.Header {
  background-color: #212121;
  color: $color-lightest;
  height: 76px;
  display: flex;
  align-items: stretch;
  justify-content: space-around;
  flex-wrap: wrap;;

  .container {
    width: 100%;
    max-width: 1024px;

    display: flex;
    align-items: stretch;

    .logo-wrapper {
      display: flex;
      align-items: center;

      .logo {
        height: 32px;
      }

      margin-right: auto;
    }

    .link {
      position: relative;
      display: flex;
      align-items: center;
      padding: 0 12px;

      &:after {
        content: '';
        position: absolute;
        right: 0;
        width: 1px;
        height: 16px;
        background-color: rgba(#707070, 0.7);
      }

      &:last-child:after {
        content: none;
      }
    }

    .user {
      margin-left: 12px;
      display: flex;
      flex-direction: row;
      align-items: center;

      .avatar {
        $size: 32px;
        width: $size;
        height: $size;
        border-radius: $size;
        background-position: center;
        background-size: cover;
        margin-right: 12px;
        border: 1px solid $color-lighter;
      }

      .info {
        display: flex;
        flex-direction: column;

        .label {
          display: flex;
          font-weight: bold;
          align-items: center;
          margin-bottom: 2px;

          .icon {
            margin-left: 12px;
          }
        }

        .balance {
          .icon {
            margin-right: 4px;
          }

          color: $color-light;
        }
      }
    }
  }
}
