@import "../../common/constants";

.ShopPage {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  opacity: 1;
  padding: 80px 0;

  .container {
    width: 100%;
    max-width: 1024px;
    @include card;

    .header {
      @media (max-width: $breakpoint-responsive) {
        display: none;
      }

      height: 100px;
      width: 85%;
      display: flex;
      align-items: center;
      justify-content: space-around;
      font-size: $font-size-large;
      margin-left: 55px;
    }

    .content {
      margin: 20px 20px 20px 20px;      
      display: flex;
      flex-wrap: wrap;
      order: 4;
      align-self: space-around;
      justify-content: space-around;
      
      .order-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .image-each {
          margin: 20px 20px 20px 20px;
          width: 200px;
          height: 200px;

          object-fit: contain;
        }
  
        .point {
          color: #999999;
          font-size: $font-size-small;
          margin: 5px 0 5px 0;
        }
  
        .buy-it {
          font-size: $font-size-medium;
          padding: 4px 8px;
        }
      }
    }
  }
}

.font-green {
  color: $color-primary;
}

