@import "../../common/constants";

.Button {
  position: relative;
  padding: 12px 28px;
  border: 1px solid $color-primary;
  background-color: $color-primary;
  color: $color-lightest;
  font-size: $font-size-large;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .1s;

  &:not(:hover).secondary {
    background-color: $color-lightest;
    color: $color-primary;
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    background-color: $color-dark;
    transition: opacity .1s;
  }

  &:active:after {
    opacity: .2;
  }
}
