@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300,700%7CRoboto:100,400,700&display=swap');
@import "./common/constants";

html,
body {
  margin: 0;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: $font-size-medium;
  color: $color-dark;
  user-select: none;
  background: #EDEDED;

  &.mobile {
    font-size: $font-size-large;
  }
}

#root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

a {
  text-decoration: none;
  color: inherit;
}
