@import "../../common/constants";

.Header {
  background-color: $color-darkest;
  color: $color-lightest;
  height: 80px;
  
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;;

  .container {
    width: 1024px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    margin: 0 auto;

    .logo {
      height: 40px;
    }

    .divider {
      @media (max-width: $breakpoint-responsive) {
        display: none;
      }
      
      width: 400px;
      
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-wrap: wrap; 

      .divide {
        color: #484848;
        font-size: $font-size-medium
      }

      .user {
        display: flex;
        flex-direction: row;
        align-items: center;

        .avatar {
          $size: 40px;
          width: $size;
          height: $size;
          border-radius: $size;
          background-position: center;
          background-size: cover;
          margin-right: 8px;
          border: 1px solid $color-lighter;
        }

        .info {
          display: flex;
          flex-direction: column;

          .label {
            display: flex;
            white-space: pre;

            .name {
              font-weight: bold;
            }

            .tier {
              color: $color-light;
            }
          }

          .balance {
            color: $color-light;
          }
        }
      }
    }
  }
}
