@import "../../common/constants";

.Header {
  background-color: $color-darkest;
  color: $color-lighter;
  height: 80px;
  
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;;

  .container {
    width: 1024px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    margin: 0 auto;

    .logo {
      height: 40px;
    }

    .divider {
      @media (max-width: $breakpoint-responsive) {
        display: none;
      }
      
      width: 400px;
      
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-wrap: wrap; 

      .divide {
        color: #484848;
        font-size: $font-size-medium
      }

      .profile-container {
        display: flex;
        flex-direction: row;
        align-items: center;

        .profile-image {
          width: 40px;
          height: 40px;
          border-radius: 40px;
          margin-right: 10px;
        }

        .user-name {
          font-weight: bold;
        }

        .user-tier {
          color: $color-light;
        }
      }
    }
  }
}
