@import "../../common/constants";

.Mainbox {
  @media (max-width: $breakpoint-responsive) {
    // display: none;
  }
  overflow: hidden;
  max-height: 85%;
  width: 500px;
  background: $color-lighter 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px $color-dark-shadow;
  border: 1px solid #CCCCCC;
  border-radius: 10px;
  opacity: 1;
  margin: 0 12px 0 12px;

  .group {
    overflow: hidden;
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .ParticipateButton {
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .text-box {
      height: 50px;
      display: flex;
      flex-direction: row;
      color: $color-primary;
      font-size: $font-size-medium;

      .icon {
        font-size: $font-size-medium;
      }

      .text-line {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $color-darkest;

        .emphasis {
          color: $color-primary;
        }
      }
    }

    .text-border {
      font-weight: bold;
    }
  }

  .ChatBox {
    width: 440px;
    height: 182px;
    background: $color-lighter 0% 0% no-repeat padding-box;
    border: 1px solid $color-borderline;
    opacity: 1;
    padding: 16px 16px 16px 16px;
    margin-bottom: 16px;
    
    .chat-header {
      height: 28px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 8px;
    }
    .chat-container {
      height: 142px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      
      .chat-container-left {
        height: 60px;
        display: flex;
        align-items: center;
        align-items: stretch;
        justify-content: flex-start;
  
        .chat-interviewer {
          height: 60px;
          width: 340px;
          background: #FFFFFF 0% 0% no-repeat padding-box;
          border: 1px solid $color-secondary;
          border-radius: 10px;
          opacity: 1;      
  
          .chat-content-i {
            padding: 8px 8px 4px 8px;
            height: 48px;
            display: flex;
            flex-direction: column;
            align-items: stretch;
            justify-content: space-around;
  
            .name-container-i {
              display: flex;
              flex-direction: row;
              align-items: center;
              .profile-i {
                height: 20px;
                width: 20px;
                border: 1px solid $color-borderline;
                border-radius: 20px;
              }
  
              .font-i {
                color: $color-light;
                font-size: $font-size-small;
              }
            }
          }
        }
      }
  
      .chat-container-right {

        height: 60px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
  
        .chat-challenger {
          height: 60px;
          width: 340px;
          background: #FFFFFF 0% 0% no-repeat padding-box;
          border: 1px solid $color-secondary;
          border-radius: 10px;
          opacity: 1;      
  
          .chat-content-c {
            padding: 8px 8px 4px 8px;          
            height: 48px;
            display: flex;
            flex-direction: column;
            align-items: stretch;
            justify-content: space-around;        
  
            .name-container-c {
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: flex-end;
  
              .profile-c {
                height: 20px;
                width: 20px;
                border: 1px solid $color-borderline;
                border-radius: 20px;
              }
  
              .font-c {
                color: $color-light;
                font-size: $font-size-small;
              }
            }
  
          }
        }
      }
    }
  }

  .MoreButton {
    height: 80px;
    width: 474px;
    margin: 32px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $color-primary;
    font-size: $font-size-medium;
    border-top: 1px solid $color-borderline;
  }
}

.text-border {
  font-weight: bold;
}

.text-primary {
  color: $color-primary;
}

.text-red {
  color: #C54647;
}

.text-gray {
  color: #999999;
}
