@import "../../common/constants";

.Mainbox {
  flex: 1;
  background: $color-lighter;
  box-shadow: 0 3px 6px $color-dark-shadow;
  border: 1px solid #CCCCCC;
  opacity: 1;

  &:first-child {
    margin-right: 24px;
  }

  .group {
    overflow: hidden;
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    .participate {
      white-space: pre;
      margin: 48px;
    }
  }

  .ChatBox {
    width: 440px;
    height: 182px;
    background: $color-lighter 0% 0% no-repeat padding-box;
    border: 1px solid $color-borderline;
    opacity: 1;
    padding: 16px 16px 16px 16px;
    margin-bottom: 16px;

    .chat-header {
      height: 28px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 8px;
    }

    .chat-container {
      height: 142px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .chat-container-left {
        height: 60px;
        display: flex;
        align-items: stretch;
        justify-content: flex-start;

        .chat-interviewer {
          height: 60px;
          width: 340px;
          background: #FFFFFF 0% 0% no-repeat padding-box;
          border: 1px solid $color-secondary;
          border-radius: 10px;
          opacity: 1;

          .chat-content-i {
            padding: 8px 8px 4px 8px;
            height: 48px;
            display: flex;
            flex-direction: column;
            align-items: stretch;
            justify-content: space-around;

            .name-container-i {
              display: flex;
              flex-direction: row;
              align-items: center;

              .profile-i {
                height: 20px;
                width: 20px;
                border: 1px solid $color-borderline;
                border-radius: 20px;
              }

              .font-i {
                color: $color-light;
                font-size: $font-size-small;
              }
            }
          }
        }
      }

      .chat-container-right {

        height: 60px;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .chat-challenger {
          height: 60px;
          width: 340px;
          background: #FFFFFF 0% 0% no-repeat padding-box;
          border: 1px solid $color-secondary;
          border-radius: 10px;
          opacity: 1;

          .chat-content-c {
            padding: 8px 8px 4px 8px;
            height: 48px;
            display: flex;
            flex-direction: column;
            align-items: stretch;
            justify-content: space-around;

            .name-container-c {
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: flex-end;

              .profile-c {
                height: 20px;
                width: 20px;
                border: 1px solid $color-borderline;
                border-radius: 20px;
              }

              .font-c {
                color: $color-light;
                font-size: $font-size-small;
              }
            }

          }
        }
      }
    }
  }

  .MoreButton {
    height: 80px;
    width: 474px;
    margin: 32px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $color-primary;
    font-size: $font-size-medium;
    border-top: 1px solid $color-borderline;
  }
}

.text-border {
  font-weight: bold;
}

.text-primary {
  color: $color-primary;
}

.text-red {
  color: #C54647;
}

.text-gray {
  color: #999999;
}
