@import "../../common/constants";

.Mainbox {
  max-height: 85%;
  width: 500px;
  background: $color-lighter 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px $color-dark-shadow;
  border: 1px solid #CCCCCC;
  border-radius: 10px;
  opacity: 1;
  margin: 0 12px 0 12px;

  .group {
    overflow: hidden;
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .ParticipateButton {
    height: 256px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .text-box {
      display: flex;
      flex-direction: row;
      color: $color-primary;
      font-size: $font-size-medium;
      padding-bottom: 16px;

      .icon {
        font-size: $font-size-medium;
      }

      .text-line {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: $color-darkset;

        .emphasis {
          color: $color-primary;
        }
      }
    }

    .participate-button {
      width: 384px;
      height: 48px;
      background: $color-primary 0% 0% no-repeat padding-box;
      opacity: 1;
      color: $color-lighter;
      font-size: $font-size-large;
      border: 0px;
    }
  }

  .ChatBox {
    width: 484px;
    height: 256px;
    background: $color-lighter 0% 0% no-repeat padding-box;
    border: 1px solid #EDEDED;
    opacity: 1;
  }

  .MoreButton {
    height: 128px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $color-primary;
    font-size: $font-size-medium;
  }
}
